{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    .hero {
        position: relative;
    }

    .carousel-item img {
        z-index: 0;
        max-height: 530px;
        object-fit: cover;
    }

    .hero_sec {
        position: absolute;
        height: 530px;
        width: 100%;
        z-index: 10;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
    }

    .hero_sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: #f4f4f4;
    }

    .hero_sec h1 {
        font-size: 90px;
    }

    .stats-section {
        justify-content: space-around;
        padding: 50px 20px;
        background-color: #d7d4d4;
        text-align: center;
    }
    .status{
        display: flex;
        justify-content: space-around;
    }
    .stats-section img{
        object-fit: cover;
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
{% endblock style %}


{% block title %}
    Blood Bank Management System
{% endblock title %}
    

{% block content %}

<div class="hero">
    <div class="hero_sec">
        <h1>Give the Gift of Life</h1>
        <h2>Save lives by donating blood today</h2>
        <div class="cta-buttons">
            <a href="#" class="btn btn-danger rounded-pill">Donate Blood</a>
            <a href="#" class="btn btn-danger rounded-pill">Request Blood</a>
            <a href="#" class="btn btn-danger rounded-pill">Register Now</a>
        </div>
    </div>
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'image/img1.jpg'%}" class="img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/img2.jpg'%}" class="img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/img3.jpg'%}" class="img-fluid w-100" alt="...">
            </div>
        </div>
    </div>
    <section class="stats-section">
        <h1>Our Impact</h1>
        <div class="status">

            <div class="card" style="width: 18rem;">
                <img src="{% static 'image/blood_doner.jpg'%}" height="200px" class="image-fluid card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Doner</h5>
                    <p class="card-text">500+</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'image/request_fulfill.jpg'%}" height="200px" class="image-fluid card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Resquest Fulfilled</h5>
                <p class="card-text">300+</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/life_saved.jpg'%}" height="200px" class="image-fluid card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lives Saved</h5>
                <p class="card-text">200+</p>
            </div>
        </div>
    </div>
    </section>
</div>

{% endblock content %}